@import url('https://fonts.googleapis.com/css?family=Lekton');

body 
{
background:url('https://www.beautycolorcode.com/543673.png');
background-repeat: repeat;
background-attachment: fixed;
  background-size: 100% 100%;
  
background-size:100%;
/*player card */
color: #dddddd;
}


body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("https://www.beautycolorcode.com/543673.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

::-webkit-scrollbar {
    width: 6px!important;
}

::-webkit-scrollbar-track {
    background-color:#384588!important;
  border-top-right-radius:45px;
}
 
::-webkit-scrollbar-thumb {
  background-color: #FFFFFF!important;
  border-top-right-radius: 45px;
}

b { font-weight:300!important; }

a:link {
    color: #5d3d6c !important;
}

a:visited {
    color: #754C88!important;
}
    
a:hover {
color: #252525 !important;}

.center.b {
color: #384588 !important;
}

h1 {
    text-align: center !important;
    color: #384588 !important;
    font-family: 'Lekton' !important;
    font-size:45px!important;
    text-transform:uppercase;
    letter-spacing:15px;
    margin-left:15px!important;
}

.prideName {
    font-size:80px;
    font-family: 'Lekton';
    text-align:center;
    color: #384588;
    text-transform:uppercase;
    margin-top:-20px;
}

.prideSub {
    text-align: center;
    color: #384588;
    font-family: 'Lekton';
    font-size:35px;
    text-transform:uppercase;
    letter-spacing:10px;
    margin-left:10px;
    margin-top:-20px;
}
    
h3 {
    text-align: center !important;
    color: #384588 !important;
    font-family: 'Lekton' !important;
	font-weight:bold;
    text-transform:uppercase;
    border-bottom:3px solid #D8B6BC;
}

/*SideBar*/
div.container.main {
    background-color:#9ad2d2!important;
  border-radius: 35px 35px 6px 6px / 35px 35px 60px 60px;
    border: none!important;
    box-shadow:none!important;
}

.col-md-9.col-xs-12 {
    background-color:rgba(0,0,0, .0)!important;
  border-top-right-radius: 5px;
    border: none!important;
}

.navbar {
    background:  #f5f5f5 !important;
  border-radius: 20px 20px 0px 0px / 170px 170px 0px 0px;
    border: none!important;
    box-shadow: none !important;
    font-family: 'Lekton' !important;
    border-bottom:3px double #384588!important;
}
    
.navbar li a {
    color: #384588 !important;
    transition:0.3s ease ease-in-out!important;
}
    
.navbar li a:hover {
   color: #27bcb1 !important;
     background: #2A4A87!important;
  border-radius: 20px / 170px !important;
    transition:0.3s ease ease-in-out!important;
}

.breadcrumb {
    background: #f5f5f5  !important;
    color: #384588!important;
    border:none!important;
  font-family: 'Lekton' !important;
    border-radius: 20px / 170px !important;
}
.breadcrumb .active { color:#9ad2d2!important;}
.breadcrumb a { color:#384588!important; }

.feature {
    background: #a67f9e  !important;
    color: #384588!important;
    border: none!important;
}

.topbar {
    background: #d8e9e9  !important;
    color: #384588 !important;
  font-family: 'Lekton' !important;
    border: none !important;
    border-bottom:3px solid #96d2d2!important;
  border-radius: 0px 0px 20px 20px / 0px 0px 170px 170px;
}

.topbar a { color:#384588!important; }

.sidebar {
    background: #d8e9e9  !important;
color:#384588!important;
  font-family: 'Lekton' !important;
    border: none !important;
}

.sidebar a { color:#384588!important; }
.sidebar a:hover { color:#252525!important; }

.panel {
    background: #FFFFFF !important;
    border: none !important;
   color: #384588!important;
    box-shadow: none !important;
  font-family: 'Lekton' !important;
    border-radius:35px!important;
}

.panel a { color:#384588!important; }

.chat_light {
    background: #f5f5f5 !important;
    color: #384588!important;
  font-family: 'Lekton' !important;
     border-bottom:1px dotted #9ad2d2!important;
  font-size:12px!important;
}
.chat_light a { color:#5d3d6c!important; 
font-weight:bold!important;}
.chat_light a:hover { color:#252525!important; }
    
.chat_dark {
    background:  #FFFFFF !important;
    color: #384588 !important;
  font-family: 'Lekton' !important;
     border-bottom:1px dotted #9ad2d2!important;
  font-size:12px!important;
}
.chat_dark a { color:#5d3d6c!important; 
font-weight:bold!important;}
.chat_dark a:hover { color:#252525!important; }

.progress {
    background: #f5f5f5  !important;
    border: none!important;
  font-family: 'Lekton' !important;
    border-radius:35px!important;
}
    
.progress div {
    color: #384588 !important;
}
    
.progress-bar-warning {
    background: #27bcb1 !important;
}
    
.progress-bar-danger {
    background: #3179d6 !important;
}
    
.progress-bar-success {
    background: #3d6a67 !important;
}
    
.progress-bar {
    background: #c7aad4 !important;
}

.chat_row a { color:#5d3d6c!important; }

table { border:none!important; }

.top {
    background: #d8e9e9 !important;
    color: #384588 !important;
    border: none!important;
    text-align: center !important;
 font-family: 'Lekton' !important;
    text-transform:uppercase;
    border-bottom:3px double #9ad2d2  !important;
    background-repeat: repeat;
    font-size:20px!important;
    letter-spacing:3px!important;
  border-radius: 20px 20px 0px 0px / 170px 170px 0px 0px;
}

.top a { color:#384588    !important; }
.top a:hover { color:#252525 !important; }

th {
    background: #d8e9e9 !important;
   color:#384588    !important;
    border: none!important;
    text-align: center !important;
    font-family: 'Lekton' !important;
    font-size:15px!important;
    text-transform:uppercase;
  border-bottom:3px double #9ad2d2  !important;
    background-repeat: repeat;
    letter-spacing:3px!important;
  border-radius: 20px 20px 0px 0px / 170px 170px 0px 0px;
}

.th a { color:#384588  !important; }
.th a:hover { color:#252525 !important; }

.bottom {
    background: #d8e9e9 !important;
    color: #384588   !important;
    border: none!important;
  border-top:3px double #9ad2d2  !important;
    text-align: center !important;
   font-family: 'Lekton' !important;
  border-radius: 0px 0px 20px 20px / 0px 0px 170px 170px;
}

.dynastylist .left { 
    background-color:#d8e9e9!important;
  font-family: 'Lekton' !important;
    border:2px double #9ad2d2  !important;
}


.left {
    background:  #FFFFFF !important;
    color: #384588  !important;
    border: none!important;
    text-align: center !important;
    font-family: 'Lekton' !important;
    border-radius:0px!important;
}

td {
    background:#f5f5f5  !important;
    color: #384588 !important;
  font-family: 'Lekton' !important;
    border: none !important;
}

td .right { 
    background-color:#f5f5f5!important;
  color: #384588 !important;
    border-radius:0px!important; 
  font-family: 'Lekton' !important;
}

td .right a { color:#384588!important; }
td .right a:hover { color:#252525 !important; }

.table .right {
background: #f5f5f5 !important;
color: #384588   !important;
  font-family: 'Lekton' !important;
}

.right_cub {
    background: rgba(98, 123, 255, .2) !important;
  font-family: 'Lekton' !important;
}

.right_cub a {
    color:#384588!important;
}
.right_cub a:hover { color:#252525 !important; }

.cave-grid, .mound-grid {
    background: #FFFFFF !important;
border-radius:20px/200px!important;
    text-transform:uppercase!important;
  font-family: 'Lekton' !important;
    border:none!important;
}
.cave-grid {
  max-width:250px!important;
}
.mound-grid { width:130px!important;
padding:0px!important;
max-width:130px!important;}
.cave-grid img{
    width: 250px;
}

#lion_image {
overflow: hidden;
border: 1px solid rgba(159,108,51, 0.0);
  border-radius:20px/200px!important;
}

div#lion_image>div
{
background:#FFFFFF !important;
}

body > div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
    content:url('https://i.imgur.com/txtOy7v.gif')!important;
}

/*Buttons/Stuff*/

input[type="button"] {
    background: #ffffff !important;
    color: #384588  !important;
    border: none !important;
    text-align: center !important;
  font-family: 'Lekton' !important;
    text-shadow: none !important;
    box-shadow: none !important;
    border-radius:0!important;
}
input[type="button"] a:hover {color:#252525 !important;}
    
input[type="submit"] {
background: #f5f5f5 !important;    
  color: #384588  !important;
    border: none !important;
    text-align: center !important;
  font-family: 'Lekton' !important;
    text-shadow: none !important;
    box-shadow: none !important;
    border-radius:0!important;
}
    
input[type="text"] {
    background: #ff000 !important;
    color: #384588  !important;
    border: none !important;
    text-shadow: none !important;
      font-family: 'Lekton' !important;
    box-shadow: none !important;
}
    
input[type="password"] {
    background: #FFFFFF !important;
    color: #384588  !important;
    border: none !important;
  font-family: 'Lekton' !important;
    text-shadow: none !important;
    box-shadow: none !important;
}
    
textarea {
    background: #FFFFFF !important;
    color: #384588  !important;
    border: none !important;
  font-family: 'Lekton' !important;
    text-shadow: none !important;
    box-shadow: none !important;
    white-space:normal!important;
}
    
select {
    background: #FFFFFF !important;
    color: #384588  !important;
    border: none !important;
  font-family: 'Lekton' !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

/*Bottom Slider*/

.item {
    border:none!important;
    border-radius:0px!important;
    background:#FFFFFF!important;
}

.item-header {
     background:#d8e9e9 !important;
     color:#384588!important;
  font-family: 'Lekton' !important;
     border-radius:0px!important;
 }

 input:checked + .slider {
     background:#9ad2d2!important;
 }
/*Sliders end*/

.alert-danger, .attack-lost {
    background: #f5f5f5 !important;
  color: #384588 !important;
  border: none!important;
  font-family: 'Lekton' !important;
    border-radius:0px!important;

}
    
.alert-success, .attack-won {
    background: #f5f5f5 !important;
    color: #384588 !important;
    border: none!important;
  font-family: 'Lekton' !important;
    border-radius:0px!important;
}

.alert-success a, .attack-won a { color: #384588!important; }
.alert-danger a, .attack-lost a { color:#384588!important;; }

#txtChatMessage {
background: #FFFFFF;
  font-family: 'Lekton' !important;
color: #384588;
}

.badge {
background: #9ad2d2 !important;
  font-family: 'Lekton' !important;
  color: #384588!important;
}


/*-----------------------------*/


/*Tables*/

.boxcontainer { 
overflow:hidden;
}

.hbox1{
display:inline-block;
background:#f5f5f5;
text-align:center;
color:#384588 ;
width:63%;
	height:350px;	
  left: -245px;
    top: 32px;
text-align:center;
  font-family: 'Lekton' !important;
transition:all ease 2s;
  border:none!important;
border-radius:10px / 200px !important;
overflow:Auto;
  padding:25px!important;
/*display:fixed;*/
}

.hbox2{
display:inline-block;
background:#f5f5f5;
text-align:center;
color:#384588 ;
margin-left:2%;
width:35%;
	height:350px;	
  left: -245px;
    top: 32px;
text-align:center;
  font-family: 'Lekton' !important;
transition:all ease 2s;
  border:none!important;
border-radius:10px / 200px !important;
overflow:Auto;
  padding:25px!important;
/*display:fixed;*/
}
