@import url('https://fonts.googleapis.com/css?family=Lekton');

body 
{
background:url('https://www.beautycolorcode.com/23263f.png');
background-repeat: repeat;
background-attachment: fixed;
  background-size: 100% 100%;
  
background-size:100%;
/*player card */
color: #dddddd;
}


body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("https://www.beautycolorcode.com/23263f.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

::-webkit-scrollbar {
    width: 6px!important;
}

::-webkit-scrollbar-track {
    background-color:#27BCB1!important;
  border-top-right-radius:45px;
}
 
::-webkit-scrollbar-thumb {
  background-color: #FFFFFF!important;
  border-top-right-radius: 45px;
}

b { font-weight:300!important; }

a:link {
    color: #473D83 !important;
}

a:visited {
    color: #474350 !important;
}
    
a:hover {
color: #000000 !important;}

.center.b {
color: #474350 !important;
}

h1 {
    text-align: center !important;
    color: #474350 !important;
    font-family: 'Lekton' !important;
    font-size:45px!important;
    text-transform:uppercase;
    letter-spacing:15px;
    margin-left:15px!important;
}

.prideName {
    font-size:80px;
    font-family: 'Lekton';
    text-align:center;
    color: #474350;
    text-transform:uppercase;
    margin-top:-20px;
}

.prideSub {
    text-align: center;
    color: #474350;
    font-family: 'Lekton';
    font-size:35px;
    text-transform:uppercase;
    letter-spacing:10px;
    margin-left:10px;
    margin-top:-20px;
}
    
h3 {
    text-align: center !important;
    color: #474350 !important;
    font-family: 'Lekton' !important;
    text-transform:uppercase;
    border-bottom:3px solid #D8B6BC;
}

/*SideBar*/
div.container.main {
    background-color:#754C88!important;
  border-top-right-radius: 35px;
    border: none!important;
    box-shadow:none!important;
}

.col-md-9.col-xs-12 {
    background-color:rgba(0,0,0, .0)!important;
  border-top-right-radius: 35px;
    border: none!important;
}

.navbar {
    background:  #FAF4EE !important;
  border-top-right-radius: 35px;
    border: none!important;
    box-shadow: none !important;
    font-family: 'Lekton' !important;
    border-bottom:3px solid #D8B6BC!important;
}
    
.navbar li a {
    color: #474350 !important;
    transition:0.3s ease ease-in-out!important;
}
    
.navbar li a:hover {
   color: #474350 !important;
     background: #FFFFFF!important;
  border-radius: 35px;
    transition:0.3s ease ease-in-out!important;
}

.breadcrumb {
    background: #FFFFFF  !important;
    color: #474350!important;
    border:none!important;
  font-family: 'Lekton' !important;
    border-radius:35px!important;
}
.breadcrumb a { color:#474350!important; }

.feature {
    background: #a67f9e  !important;
    color: #474350!important;
    border: none!important;
}

.topbar {
    background: #EFE2D2  !important;
    color: #474350 !important;
  font-family: 'Lekton' !important;
    border: none !important;
    border-bottom:3px solid #D8B6BC!important;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
}

.topbar a { color:#474350!important; }

.sidebar {
    background: #EFE2D2  !important;
color:#474350!important;
  font-family: 'Lekton' !important;
    border: none !important;
}

.sidebar a { color:#474350!important; }

.panel {
    background: #FFFFFF !important;
    border: none !important;
   color: #474350!important;
    box-shadow: none !important;
  font-family: 'Lekton' !important;
    border-radius:35px!important;
}

.panel a { color:#474350!important; }

.chat_light {
    background: #FAF4EE !important;
    color: #474350!important;
  font-family: 'Lekton' !important;
     border-bottom:3px solid #D8B6BC!important;
}
.chat_light a { color:#474350!important; }
    
.chat_dark {
    background:  #FFFFFF !important;
    color: #474350 !important;
  font-family: 'Lekton' !important;
     border-bottom:3px solid #D8B6BC!important;
}
.chat_dark a { color:#474350!important; }

.progress {
    background: #FAF4EE  !important;
    border: none!important;
  font-family: 'Lekton' !important;
    border-radius:35px!important;
}
    
.progress div {
    color: #474350 !important;
}
    
.progress-bar-warning {
    background: #3d6a67 !important;
}
    
.progress-bar-danger {
    background: #3d6a67 !important;
}
    
.progress-bar-success {
    background: #3d6a67 !important;
}
    
.progress-bar {
    background: #EFE2D2 !important;
}

.chat_row a { color:#ddd!important; }

table { border:none!important; }

.top {
    background: #EFE2D2 !important;
    color: #474350 !important;
    border: none!important;
    text-align: center !important;
 font-family: 'Lekton' !important;
    text-transform:uppercase;
    border-bottom:3px solid #D8B6BC  !important;
    background-repeat: repeat;
    font-size:20px!important;
    letter-spacing:3px!important;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
}

.top a { color:#474350    !important; }

th {
    background: #EFE2D2 !important;
   color:#474350    !important;
    border: none!important;
    text-align: center !important;
    font-family: 'Lekton' !important;
    font-size:15px!important;
    text-transform:uppercase;
  border-bottom:3px solid #D8B6BC  !important;
    background-repeat: repeat;
    letter-spacing:3px!important;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
}

.th a { color:#474350  !important; }

.bottom {
    background: #EFE2D2 !important;
    color: #474350   !important;
    border: none!important;
  border-top:3px solid #D8B6BC  !important;
    text-align: center !important;
   font-family: 'Lekton' !important;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
}

.dynastylist .left { 
    background-color:#EFE2D2!important;
  font-family: 'Lekton' !important;
    border:2px solid #D8B6BC  !important;
}


.left {
    background:  #FFFFFF !important;
    color: #474350  !important;
    border: none!important;
    text-align: center !important;
    font-family: 'Lekton' !important;
    border-radius:0px!important;
}

td {
    background:#FAF4EE  !important;
    color: #474350 !important;
  font-family: 'Lekton' !important;
    border: none !important;
}

td .right { 
    background-color:#FAF4EE!important;
  color: #474350 !important;
    border-radius:0px!important; 
  font-family: 'Lekton' !important;
}

td .right a { color:#474350!important; }

.table .right {
background: #FAF4EE !important;
color: #474350   !important;
  font-family: 'Lekton' !important;
}

.right_cub {
    background: rgba(157, 173, 72, .2) !important;
  font-family: 'Lekton' !important;
}

.right_cub a {
    color:#474350!important;
}

.cave-grid, .mound-grid {
    background: #FFFFFF !important;
    border-radius:0px!important;
    text-transform:uppercase!important;
  font-family: 'Lekton' !important;
    border:2px solid #D8B6BC!important;
}

.cave-grid img{
content:url("https://i.imgur.com/7WAC3jU.png");
    height: 130px;
    width: 250px;
}

.mound-grid img{
content:url("https://i.imgur.com/7WAC3jU.png");
    height: 130px;
    width: 250px;
}

#lion_image {
overflow: hidden;
border: 1px solid rgba(159,108,51, 0.0);
  border-radius:50px!important;
}

div#lion_image>div
{
 
background:#FFFFFF !important;
}

body > div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
    content:url('https://i.imgur.com/rAXr79h.png')!important;
}

/*Buttons/Stuff*/

input[type="button"] {
    background: #FFFFFF !important;
    color: #474350  !important;
    border: none !important;
    text-align: center !important;
  font-family: 'Lekton' !important;
    text-shadow: none !important;
    box-shadow: none !important;
    border-radius:0!important;
}
    
input[type="submit"] {
background: #FFFFFF !important;    
  color: #474350  !important;
    border: none !important;
    text-align: center !important;
  font-family: 'Lekton' !important;
    text-shadow: none !important;
    box-shadow: none !important;
    border-radius:0!important;
}
    
input[type="text"] {
    background: #FFFFFF !important;
    color: #474350  !important;
    border: none !important;
    text-shadow: none !important;
      font-family: 'Lekton' !important;
    box-shadow: none !important;
}
    
input[type="password"] {
    background: #FFFFFF !important;
    color: #474350  !important;
    border: none !important;
  font-family: 'Lekton' !important;
    text-shadow: none !important;
    box-shadow: none !important;
}
    
textarea {
    background: #FFFFFF !important;
    color: #474350  !important;
    border: none !important;
  font-family: 'Lekton' !important;
    text-shadow: none !important;
    box-shadow: none !important;
    white-space:normal!important;
}
    
select {
    background: #FFFFFF !important;
    color: #474350  !important;
    border: none !important;
  font-family: 'Lekton' !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

/*Bottom Slider*/

.item {
    border:none!important;
    border-radius:0px!important;
    background:#FFFFFF!important;
}

.item-header {
     background:#EFE2D2!important;
     color:#474350!important;
  font-family: 'Lekton' !important;
     border-radius:0px!important;
 }

 input:checked + .slider {
     background:#EFE2D2!important;
 }
/*Sliders end*/

.alert-danger, .attack-lost {
    background: #EFE2D2 !important;
  color: #474350 !important;
  border: none!important;
  font-family: 'Lekton' !important;
    border-radius:0px!important;

}
    
.alert-success, .attack-won {
    background: #EFE2D2 !important;
    color: #474350 !important;
    border: none!important;
  font-family: 'Lekton' !important;
    border-radius:0px!important;
}

.alert-success a, .attack-won a { color: #474350!important; }
.alert-danger a, .attack-lost a { color:#474350!important;; }

#txtChatMessage {
background: #FFFFFF;
  font-family: 'Lekton' !important;
color: #474350;
}

.badge {
background: #FFFFFF;
  font-family: 'Lekton' !important;
  color: #474350!important;
}


/*-----------------------------*/


/*Tables*/

.boxcontainer { 
overflow:hidden;
}

.hbox1{
display:inline-block;
background:#FAF4EE;
text-align:center;
color:#474350 ;
width:63%;
	height:350px;	
  left: -245px;
    top: 32px;
text-align:center;
border:1px solid #dddddd !important;
  font-family: 'Lekton' !important;
transition:all ease 2s;
border-radius:20px / 200px !important;
overflow:Auto;
/*display:fixed;*/
}

.hbox2{
display:inline-block;
background:#FAF4EE;
text-align:center;
color:#474350 ;
margin-left:2%;
width:35%;
	height:350px;	
  left: -245px;
    top: 32px;
text-align:center;
border:1px solid #dddddd !important;
  font-family: 'Lekton' !important;
transition:all ease 2s;
border-radius:20px / 200px !important;
overflow:Auto;
/*display:fixed;*/
}
