@import "compass";

.terminal {
  margin: 30px auto 0;
  width: 700px;
}

.header {
  @include background( linear-gradient(center top, #f7f7f7 0%, #cfcfcf 5%, #aaaaaa 100%));
  border-bottom-colors: none;
  border-left-colors: none;
  border-right-colors: none;
  border-top-colors: none;
  border-color: #9c9c9c #9c9c9c #111;
  border-image: none;
  border-style: solid;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-width: 1px;
  color: #444;
  display: block;
  font-size: 13px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.shell {
  background-color: #3d3d3d;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  color: #eeeb82;
  display: block;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 17px;
  line-height: 28px;
  margin: 0;
  overflow: hidden;
  padding: 20px;
  text-align: left;
}

.shell p {
  font-weight: bold;
  margin: 0;
  line-height: 1.7em;
}

.path {
  user-select: none;
  color: #71cfee;
  padding-right: 0.6em;
}

.prompt {
  user-select: none;
  color: #d74d52;
  padding-right: 0.6em;
}
