*{
  margin:0;
  padding:0;
}

@-webkit-keyframes animado {

	10% {
		opacity: 0;
	}
  
  40% {
		opacity: 0;
	}
  
  50% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}

}

#animado{
	-webkit-animation: animado 1s linear infinite;
	-moz-animation: animado 1s linear infinite;
	-o-animation: animado 1s linear infinite;
	animation: animado 1s linear infinite;
  font-weight: bold;
}

#terminal{
  background-color: #000;  
  border: 5px solid #f39c12;
  height: 300px;
  margin: 0 auto;
  width: 600px;
}

#terminal > p{
  color: #fff;
  margin-bottom: 10px;
}

#topo{
  background-color: #f39c12;
  padding: 5px;
  position: relative;
  text-align: center;
}

#topo > button#btnX{
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  padding: 3px 20px;
  position: absolute;
  top: 0px;
  right: 0px;
}

#topo > button#btnMax{
  background-color: transparent;
  border: 0;
  font-size: 15px;
  position: absolute;
  top: 0px;
  right: 55px;
}

#topo > button#btnMin{
  background-color: transparent;
  border: 0;
  font-size: 18px;
  position: absolute;
  top: 3px;
  right: 78px;
}

#topo > p{
  font-size: 18px;
}
